<div {{ this.bbcontent()|raw }}>
    {% if path != '' %}
        <a href="{{ this.getMediaUrl(originalname) }}" target="_blank"></a>
    {% elseif app.user != null %}
        <p>Click here to add a file.</p>
    {% endif %}
</div>
