<div class="breadcrumb-wrapper">
    <div class="container">
        <ul class="breadcrumb">
            {% for item in ancestors %}
                <li><a href="{{ path(item.url) }}">{{ item.title }}</a></li>
            {% endfor %}
            {% if current is not null %}
                <li class="active"><a href="{{ path(current.url)}}">{{ current.title }}</a></li>
            {% endif %}
        </ul>
    </div>
</div>