<ul{% if is_header %} id="nav-primary"{% endif %} class="nav navbar-nav {% if is_header %}nav-primary{% else %}nav-footer-map{% endif %}" role="navigation">
    {% if is_header %}
        <li class="nav-selected" role="presentation">
            <a href="{{ bb.routing.getUri('/') }}">
                <i class="fa fa-home"></i><span class="sr-only">Accueil</span>
                <span><img class="logo" alt="Accueil" src="{{ this.getResourceUrl('img/logo.png') }}"></span>
            </a>
        </li>
    {% endif %}
    {% for item in sections %}
        <li{% if selected and selected.getUid() == item.getUid() %} class="nav-selected"{% endif %} role="presentation">
            <a href="{{ bb.routing.getUri(item.getUrl()) }}">{{ item.getTitle() }}</a>
        </li>
    {% endfor %}
</ul>
<!-- /-->

