<div class="bb5-ui bb5-content-actions">
    <button data-type="bb5-ico-info" title="Informations" class="bb5-button bb5-ico-info bb5-button-square bb5-invert"></button>
    <button data-type="bb5-ico-parameter" title="Paramètres" class="bb5-button bb5-ico-parameter bb5-button-square bb5-invert"></button>
    <button data-type="bb5-ico-edit" title="Éditer" class="bb5-button bb5-ico-edit bb5-button-square bb5-invert"></button>
    <button data-type="bb5-ico-del" title="Supprimer" class="bb5-button bb5-ico-del bb5-button-square bb5-invert"></button>
</div>