<div class="row">
    <div class="col-bb5-71 bb5-border-right bb-cke-wrapper"></div>
    <div class="col-bb5-29">
        <p>
            <button type="button" class="btn btn-default-grey btn-sm btn-block global-save">
                <i class="fa fa-file-text"></i> {{ 'save_as_draft'|trans }}
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-default-grey btn-sm btn-block bundle-toolbar-global-validate">
                <i class="fa fa-floppy-o"></i> {{ 'validate'|trans }}
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-default-grey btn-sm btn-block bundle-toolbar-global-cancel">
                <i class="fa fa-share"></i> {{ 'cancel'|trans }}
            </button>
        </p>
    </div><!--/ End col-->
</div>
