<div>
    <p>{{ text|trans }} ?</p>

    <button class="btn btn-info" id="bb-bundle-cancel">{{ 'cancel'|trans }}</button>
    <button class="btn btn-warning" id="bb-bundle-validate">{{ 'validate'|trans }}</button>
</div>