<div {{ this.bbcontent(null, {'class': 'row'})|raw }}>
    {{ this.render(first_container, null, {'class': 'col-sm-8'})|raw }}
    {{ this.render(second_container, null, {'class': 'col-sm-4'})|raw }}
</div>