<div {{ this.bbcontent()|raw }}>
    {{ dump(this.getObject()) }}
    {% for content in this.getObject().getData() %}
        {{ this.render(content, this.getMode(), null, null, this.getIgnoreIfNotAvailable())|raw }}
    {% endfor %}
</div>
