<div id="toolbar-user-group-popin" class="bb5-windowpane-wrapper windowpane-light">
    <div class="bb5-windowpane-main ui-layout-pane ui-layout-center">
        <div>
            <div id="user-list"></div>
            <div id="group-list"></div>
        </div>
    </div>
</div>