<div class="slider-item">
    <figure class="figure">
        <span>
            <img src="{{ this.getResourceUrl('img/slider/image1.jpg') }}">
        </span>
    </figure>
</div>
<div class="slider-item">
    <figure class="figure">
        <span>
            <img src="{{ this.getResourceUrl('img/slider/image2.jpg') }}">
        </span>
    </figure>
</div>