<div {{ this.bbcontent(null, {'class': 'col-sm-12'})|raw }}>
    {% set content = contents|first %}
    {% if false != content %}
        {{ this.render(content, 'home_small')|raw }}
    {% endif %}
</div>