<div>
    <p>{{ 'remove_group_confirmation_message'|trans }} {{ group.name }}</p>

    <button class="btn btn-default" id="bb-group-cancel">{{ 'cancel'|trans }}</button>
    <button class="btn btn-primary" id="bb-group-validate">{{ 'validate'|trans }}</button>
</div>