{% if bb.token != null or image.path != '' %}
    <span {{ this.bbcontent()|raw }}>
        <img {{ this.bbcontent(image)|raw }} src="{{ image.path ? this.getImageUrl(image.path)|raw : '' }}" alt="{{ title }}">
    </span>
{% endif %}