{% if app.user != null %}
    <p {{ this.bbcontent(null, {'class': 'pdf-link'})|raw }}>
        {#@todo gvf the path!#}
        <a href="{{ file.path ? this.getImageUrl(file.path)|raw : '' }}" target="_blank">{{ title|default('PDF Block') }}</a>
    </p>
{% endif %}
