<section {{ this.bbcontent(null, {'class': 'section row push-grid push-connect'})|raw }}>
    <header class="col-sm-12">
        <h2 class="ttl">Read more</h2>
    </header>

    {{ this.render(left)|raw }}

    {{ this.render(middle)|raw }}

    {{ this.render(right)|raw }}

</section>
