<div {{ this.bbcontent(null, {'class': 'box-wrapper'})|raw }}>
    <a class="twitter-timeline" href="#" data-widget-id="{{ widget_id }}">Loading...</a>

    <script>

        if (window.$ !== undefined) {
            $.getScript('http://platform.twitter.com/widgets.js');
        }

        !function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
    </script>

</div>