#bb5-site-wrapper .content-actions button,
#bb5-site-wrapper .content-actions a {
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-property: background border;
  transition-property: background border;
}
#bb5-ui .ui-widget-header .ui-button:hover {
  background-color: #4d4d4d;
}
#bb5-ui .page-offline,
#bb5-ui .page-online {
  background-color: #e34c26;
}
#bb5-site-wrapper .content-actions button,
#bb5-site-wrapper .content-actions a {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 11px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#bb5-ui #bb5-ui .container:before,
#bb5-ui #bb5-ui .container:after,
#bb5-ui #bb5-ui .container-fluid:before,
#bb5-ui #bb5-ui .container-fluid:after,
#bb5-ui #bb5-ui .row:before,
#bb5-ui #bb5-ui .row:after,
#bb5-ui #bb5-ui .form-horizontal .form-group:before,
#bb5-ui #bb5-ui .form-horizontal .form-group:after,
#bb5-ui #bb5-ui .btn-toolbar:before,
#bb5-ui #bb5-ui .btn-toolbar:after,
#bb5-ui #bb5-ui .btn-group-vertical > .btn-group:before,
#bb5-ui #bb5-ui .btn-group-vertical > .btn-group:after,
#bb5-ui #bb5-ui .nav:before,
#bb5-ui #bb5-ui .nav:after,
#bb5-ui #bb5-ui .navbar:before,
#bb5-ui #bb5-ui .navbar:after,
#bb5-ui #bb5-ui .navbar-header:before,
#bb5-ui #bb5-ui .navbar-header:after,
#bb5-ui #bb5-ui .navbar-collapse:before,
#bb5-ui #bb5-ui .navbar-collapse:after,
#bb5-ui #bb5-ui .pager:before,
#bb5-ui #bb5-ui .pager:after {
  content: " ";
  display: table;
}
#bb5-ui #bb5-ui .container:after,
#bb5-ui #bb5-ui .container-fluid:after,
#bb5-ui #bb5-ui .row:after,
#bb5-ui #bb5-ui .form-horizontal .form-group:after,
#bb5-ui #bb5-ui .btn-toolbar:after,
#bb5-ui #bb5-ui .btn-group-vertical > .btn-group:after,
#bb5-ui #bb5-ui .nav:after,
#bb5-ui #bb5-ui .navbar:after,
#bb5-ui #bb5-ui .navbar-header:after,
#bb5-ui #bb5-ui .navbar-collapse:after,
#bb5-ui #bb5-ui .pager:after {
  clear: both;
}
#bb5-site-wrapper .content-actions button,
#bb5-site-wrapper .content-actions a {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
#bb5-site-wrapper .content-actions button,
#bb5-site-wrapper .content-actions a {
  border: 1px solid #CDCDCD;
}
#bb5-site-wrapper .content-actions button,
#bb5-site-wrapper .content-actions a {
  background-color: #F3F3F3;
}
#bb5-site-wrapper .content-actions button:hover,
#bb5-site-wrapper .content-actions a:hover {
  background-color: #E34C26;
  border-color: #E34C26;
  color: #fff;
  text-shadow: none;
}
#bb5-ui .ui-widget-header * {
  font-weight: normal;
  color: #fff;
}
#bb5-ui .ui-widget .ui-icon-closethick:before {
  content: "\f00d";
}
#bb5-ui .page-offline,
#bb5-ui .page-online {
  font-size: 13px;
  color: #fff;
  padding: 6px 15px;
  margin: 0 -5px 0.5em -5px;
}
#bb5-ui,
#bb5-ui * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333333;
  background: none;
  width: auto;
  height: auto;
}
#bb5-ui .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
  color: red;
}
#bb5-ui .ui-dialog {
  overflow: hidden;
  position: absolute;
  padding: 0.2em;
  outline: 0;
  z-index: 490002;
}
#bb5-ui .ui-dialog .input-group-btn .fa {
  vertical-align: middle;
}
#bb5-ui .ui-dialog .ui-widget-header .ui-dialog-title {
  font-size: 13px;
  line-height: 1.2em;
  color: #fff;
}
#bb5-ui .ui-dialog .ui-widget-header .ui-dialog-title .fa {
  color: #fff;
}
#bb5-ui .ui-dialog .ui-dialog-content {
  padding: 1em 1em 0.5em 1em;
}
#bb5-ui .ui-dialog .ui-dialog-buttonpane {
  position: relative;
  padding: 8px 6px 5px 6px;
  border-width: 0;
  margin: 0;
}
#bb5-ui .ui-dialog .ui-dialog-buttonpane:before {
  content: "";
  display: block;
  position: absolute;
  top: 0 ;
  left: -2px;
  right: -2px;
  height: 5px;
  background: -moz-linear-gradient(top, #dadada 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dadada), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, #dadada 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, #dadada 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(top, #dadada 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, #dadada 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadada', endColorstr='#00000000', GradientType=0);
}
#bb5-ui .ui-dialog .ui-dialog-buttonpane button {
  margin: 0 4px;
}
#bb5-ui .ui-dialog .dialog-title {
  font-weight: 700;
  font-size: 1.1em;
}
#bb5-ui .ui-dialog .nbr-visit {
  font-weight: 700;
  font-size: 1.4em;
}
#bb5-ui .ui-dialog .ui-dialog-content {
  padding: 1em 1em 0.5em 1em;
  overflow: auto;
  padding: 1em 1em 0 1em;
}
#bb5-ui .ui-widget {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #cecece;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#bb5-ui .ui-widget .ui-dialog-titlebar {
  padding: .4em 1em;
}
#bb5-ui .ui-widget .ui-draggable-handle {
  cursor: move;
}
#bb5-ui .ui-widget .ui-icon {
  text-indent: 0;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: auto;
  left: auto;
  margin: auto;
  position: static;
}
#bb5-ui .ui-widget-header {
  background-color: #333333;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-width: 0;
  position: relative;
  font-size: 13px;
  line-height: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  color: #fff;
}
#bb5-ui .ui-widget-header .ui-button {
  position: absolute;
  top: 4px;
  right: 4px;
  background: transparent;
  border-width: 0;
  width: 17px;
  height: 17px;
  text-align: center;
}
#bb5-ui .ui-widget-header .ui-button .ui-button-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#bb5-ui .ui-widget-header .ui-button .ui-icon {
  line-height: 17px;
}
#backbee-loader {
  display: none;
  position: fixed;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#backbee-loader .loader {
  position: absolute;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  top: 50%;
  left: 50%;
}
#backbee-loader.visible {
  display: block;
}
#backbee-loader #circularG_1 {
  left: 0;
  top: 48px;
  animation-delay: 0.41s;
  -o-animation-delay: 0.41s;
  -ms-animation-delay: 0.41s;
  -webkit-animation-delay: 0.41s;
  -moz-animation-delay: 0.41s;
}
#backbee-loader #circularG_2 {
  left: 12px;
  top: 12px;
  animation-delay: 0.55s;
  -o-animation-delay: 0.55s;
  -ms-animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
  -moz-animation-delay: 0.55s;
}
#backbee-loader #circularG_3 {
  top: 0;
  left: 48px;
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}
#backbee-loader #circularG_4 {
  right: 12px;
  top: 12px;
  animation-delay: 0.83s;
  -o-animation-delay: 0.83s;
  -ms-animation-delay: 0.83s;
  -webkit-animation-delay: 0.83s;
  -moz-animation-delay: 0.83s;
}
#backbee-loader #circularG_5 {
  right: 0;
  top: 48px;
  animation-delay: 0.97s;
  -o-animation-delay: 0.97s;
  -ms-animation-delay: 0.97s;
  -webkit-animation-delay: 0.97s;
  -moz-animation-delay: 0.97s;
}
#backbee-loader #circularG_6 {
  right: 12px;
  bottom: 12px;
  animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}
#backbee-loader #circularG_7 {
  left: 48px;
  bottom: 0;
  animation-delay: 1.24s;
  -o-animation-delay: 1.24s;
  -ms-animation-delay: 1.24s;
  -webkit-animation-delay: 1.24s;
  -moz-animation-delay: 1.24s;
}
#backbee-loader #circularG_8 {
  left: 12px;
  bottom: 12px;
  animation-delay: 1.38s;
  -o-animation-delay: 1.38s;
  -ms-animation-delay: 1.38s;
  -webkit-animation-delay: 1.38s;
  -moz-animation-delay: 1.38s;
}
#backbee-loader .circularG {
  position: absolute;
  background-color: #f58727;
  width: 28px;
  height: 28px;
  border-radius: 18px;
  -o-border-radius: 18px;
  -ms-border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  animation-name: bounce_circularG;
  -o-animation-name: bounce_circularG;
  -ms-animation-name: bounce_circularG;
  -webkit-animation-name: bounce_circularG;
  -moz-animation-name: bounce_circularG;
  animation-duration: 1.1s;
  -o-animation-duration: 1.1s;
  -ms-animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  -moz-animation-duration: 1.1s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}
@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}
@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(0.3);
  }
}
@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.3);
  }
}
@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.3);
  }
}
@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.3);
  }
}
