<div class="bb5-windowpane-tree">
    <div class="site-selector pull-right"></div>
    <div class="action-ctn folder-filter hidden">
        <input class="show_folder_action" type="checkbox"/> {{ trans('show_folder') }}
    </div>
    <div class="bb5-treeview">{{ trans('loading') }}...</div>
</div>