<div>
    <p>{{ text|trans }} ?</p>

    <button class="btn btn-default" id="bb-cancel-button">{{ 'cancel'|trans }}</button>
    <button class="btn btn-primary" id="bb-validate-button">{{ 'validate'|trans }}</button>
</div>