<div class="keyword-wrapper">
    <label class="label">{{ element.getLabel() }}</label>
    {{ keywordSelectorWidget }}
    <input class="form-infos" type="hidden"
       name="{{ element.getKey() }}"
       class="form-control hidden"
       />
</div>